// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&display=swap');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Variables
@import 'utilities/variables';
@import 'utilities/common';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'components/sidebar';
@import 'components/topnav';
@import 'components/admin-menu';
@import 'components/dashboard';

// Reset
h1,h2,h3,h4,h5,h6,
ul, li {
    margin: 0;
    padding: 0;
}

.hcf-wrapper__main {
    display: flex;
    position: relative;
    margin-bottom: 56px;
}

.hcf-wrapper__container {
    width: 100%;
    margin-left: $sidebar-width;
}

.hcf-wrapper__container-content {
    display: flex;
    flex-direction: column;
}

.hcf-main {
    position: relative;
    padding: 1rem 2rem;
    color: #5e5e5e;
}

.hcf-headline__row {
    display: flex;
    color: unset;
    background-color: #fff;
    text-decoration: none !important;
    margin-bottom: 1rem;
    &:hover {
        color: unset;;
    }
}

.hcf-headline__block {
    background-color: #fff;
    padding: 1rem;
    text-decoration: none !important;
    .hcf-shadow {
        @extend %shadow1;
    }
}

.hcf-headline__block-title {
    font-family: $font-title;
    font-size: 1rem;
    padding-bottom: .25rem;
    margin-bottom: .25rem;
    border-bottom: solid 1px rgba($color-primary, .3);
    display: flex;
    align-items: center;
    color: $color-primary;
    .badge {
        margin: 0 .5rem;
        padding: .2rem .4rem .4rem;
        font-weight: unset;
    }
}

.hcf-headline__block-content {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.hcf-headline__block-footer {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .badge {
        padding: .45rem .4rem .4rem;
        font-weight: unset;
    }
}

.hcf-headline__block-footer_datetime {
    font-size: .7rem;
    color: #acaaaa;
}

@media (max-width: 768px) {
    .hcf-wrapper__container {
        margin-left: $sidebar-width__small;
    }
}